* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;

    color: white;
}

header nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.925);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbtn h1 {
    font-size: 18px;
}

.navbtn2 h2 {
    font-size: 18px;
    background-color: transparent;
    padding: 9px 15px;
}

.navbtn2 h2:hover {
    color: black;
    background-color: white;
    border-radius: 6px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.navbtn {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 30px;
}

.navbtn button {
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 11px 15px;
    background-color: transparent;
    font-size: 15px;
    white-space: nowrap;
}

.navbtn2 {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 27px;
}

.navbtn2 button {
    outline: none;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 11px 15px;
    background-color: rgb(73, 129, 233);
    font-size: 15px;
    white-space: nowrap;
}

.abc {
    background-color: transparent;
    font-size: 18px;
    padding: 10px 12px;
}

.ac {
    font-size: 32px;
    padding: 7px 7px;
}

.navbtn button:hover {
    background-color: white;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.navbtn2 button:hover {
    background-color: rgb(73, 84, 233);
    color: white;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.abc:hover {
    background-color: white;
    color: black;
    border-radius: 100%;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

}

.ac:hover {
    background-color: white;
    color: black;
    border-radius: 100%;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.onlysmall {
    display: none;
}

@media only screen and (max-width:1100px) {
    .onlybig {
        display: none;
    }

    .onlysmall {
        display: flex;
        background-color: transparent;
        padding: 6px 6px;
        border-radius: 6px;
    }

    .onlysmall option {
        background-color: transparent;
        border: 0;
        outline: none;
    }

    .onlysmall select {
        background-color: transparent;
        color: white;
        font-size: 15px;
        border: 0;
        outline: none;
    }

    .onlysmall:hover {
        background-color: white;
    }

    .onlysmall select:hover {
        color: black;
    }

    nav {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    .navbtn {
        margin-right: 180px;
        gap: 12px;

    }

    .navbtn2 {
        gap: 12px;
        margin-right: 30px;
    }
}

@media only screen and (max-width:762px) {

    .navbtn h1,
    .navbtn2 h2 {
        font-size: 14px;
        white-space: nowrap;
    }
    .navbtn2 h2 {
        padding: 7px 9px;
    }

    .navbtn {
        margin-left: 8px;
        margin-right: 70px;
        gap: 5px;
    }

    .navbtn2 {
        gap: 5px;
        margin-right: 10px;
    }

    .onlysmall {
        padding: 3px 3px;
    }

    .onlysmall select {
        font-size: 12px;
    }

    .abc {
        background-color: transparent;
        font-size: 15px;
        padding: 10px 12px;
    }

    .ac {
        font-size: 24px;
        padding: 7px 7px;
    }

    .navbtn2 button {
       padding: 8px 12px;
       font-size: 12px; 
    }


}